<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE IT</title>

    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='Index-NoteStyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='Main-Page-NavStyle.css')}}">

    <!-- FONTs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- ROBOTO MONO FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&display=swap" rel="stylesheet">
    <!-- ROBOTO FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='/favicon/site.webmanifest')}}">
</head>
<body>

    <nav class="navbar">
        <div class="container">
          <section class="wrapper">
            <a href="/" class="brand">Note it</a>
            <button type="button" class="burger" id="burger">
              <span class="burger-line"></span>
              <span class="burger-line"></span>
              <span class="burger-line"></span>
              <span class="burger-line"></span>
            </button>
            <div class="menu" id="menu">
              <ul class="menu-inner">
                <li class="menu-item"><a href="/about" class="menu-link">About</a></li>
                {% if current_user.is_authenticated %}
                    <li class="menu-item"><a href="/notes" class="menu-link">Notes</a></li>
                    <li class="menu-item"><a href="/logout" class="menu-link" id="logout">Logout</a></li>
                {% else %}
                    <li class="menu-item"><a href="/login" class="menu-link">Login</a></li>
                    <li class="menu-item"><a href="/signup" class="menu-link" id="signup">Signup</a></li>
                {% endif %}
              </ul>
            </div>
          </section>
        </div>
      </nav>

    <!-- Note 1 -->
    {% if current_user.is_authenticated %}
        <a href="/notes">
    {% else %}
        <a href="/login">
    {% endif %}
    
    <div class="notes-container">
        <div class="container">
        <div class="note note-1">
            <div class="note-body">
            <div class="note-date">17 02 2022</div>
            <div class="note-title">
                <!-- 21 max characters max -->
                Easy To Share
            </div>
            <div class="note-content">
                <!-- 192 characters max | without dots -->
                You Can Create Public Links For Selected Notes And Share With Your Firend's Easily.
            </div>
            <div class="note-icon">
                <span class="iconify public-icon" data-icon="fluent:share-24-regular" data-width="24"
                data-height="23"></span>
                <span class="iconify delete-icon" data-icon="ic:baseline-delete-outline" data-width="24"
                data-height="23"></span>
                <span class="iconify edit-icon" data-icon="eva:edit-2-outline" data-width="24" data-height="23"></span>
            </div>
            </div>
        </div>

        <div class="note note-2">
            <div class="note-body">
            <div class="note-date">17 02 2022</div>
            <div class="note-title">
                <!-- 21 max characters max -->
                On Any Device,Anywhere
            </div>
            <div class="note-content">
                <!-- 192 characters max | without dots -->
                Note IT is an Web App So You Can Access It Through Your PC,Phone,Tablet Regardless Of Any OS.
            </div>
            <div class="note-icon">
                <span class="iconify public-icon" data-icon="fluent:share-24-regular" data-width="24"
                data-height="23"></span>
                <span class="iconify delete-icon" data-icon="ic:baseline-delete-outline" data-width="24"
                data-height="23"></span>
                <span class="iconify edit-icon" data-icon="eva:edit-2-outline" data-width="24" data-height="23"></span>
            </div>
            </div>
        </div>

        <div class="note note-3">
            <div class="note-body">
            <div class="note-date">17 02 2022</div>
            <div class="note-title">
                <!-- 21 max characters max -->
                Open-Source
            </div>
            <div class="note-content">
                <!-- 192 characters max | without dots -->
                Note IT Is 100% Open-Source So You Can Be Assured That Your Notes Are Safe & Private.
            </div>
            <div class="note-icon">
                <span class="iconify delete-icon" data-icon="ic:baseline-delete-outline" data-width="24"
                data-height="23"></span>
                <span class="iconify edit-icon" data-icon="eva:edit-2-outline" data-width="24" data-height="23"></span>
            </div>
            </div>
        </div>

        <div class="note-4-5">
            <div class="note-body" style="align-items: center;">
            <div class="main-slogan">Never <span style='color: #FF5A5A;' >Forget</span> IT</div>

            <div class="main-slogan-2">Note IT</div>
            </div>
        </div>
        
        <div class="note note-6">
            <div class="note-body">
            <span class="iconify" data-icon="ph:plus-thin" data-width="150"></span>
            </div>
        </div>
        </div>
        </a>
    </div>

    <!-- Script -->
    <script src="{{url_for('static', filename='NavScript.js')}}"></script>
    
</body>
</html>