<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTE IT</title>

    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='Index-NoteStyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='Index-Page-NavStyle.css')}}">

    <!-- FONTs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- ROBOTO MONO FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&display=swap" rel="stylesheet">
    <!-- ROBOTO FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <div class="main-title">
            <a href="/">Note it</a>
        </div>
        <div class="mid-options">
            <a href="/">About</a>
            <a href="/login" id="login-link">Login</a>
            <a href="/signup" id="signup" >Sign Up</a>
        </div>
    </nav>
    
</body>
</html>