<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} NOTE IT {% endblock title %}</title>
    
    <!-- ICONs -->
    <script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='/favicon/site.webmanifest')}}">
    <!-- Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='Main-Page-NavStyle.css')}}">
    <!-- FONTs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- ROBOTO MONO FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&display=swap" rel="stylesheet">
    <!-- ROBOTO FONT-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    {% block head %} {% endblock head %}

</head>

<body>

    <nav>
        <div class="main-title">
            {% if current_user.is_authenticated %}
                <a href="/notes">Note it</a>
            {% else %}
                <a href="/">Note it</a>
            {% endif %}    
        </div>
        <div class="mid-options">
            <a href="/add-note">New Note</a>
            <a href="/shared">Shared</a>
            <a href="/">About</a>
        </div>
        {% if current_user.is_authenticated %}
            <div class="main-logout">
                <a href="/logout">Logout</a>
            </div>
        {% else %}
            <div class="main-logout">
                <a href="/login">Login</a>
            </div>
        {% endif %}
        
    </nav>

    {% block body %} {% endblock body %}
    
    <a href="/add-note" id="add-new-note-link"><span class="iconify" id="add-new-note-icon" data-icon="akar-icons:circle-plus" data-width="50" data-height="50"></span></a>
</body>
</html>